tast
test.tex
comment.cut
*.fls
*.rel
*.sms
*.bbl
*.blg
*.out
*.synctex.gz
*.run.xml
*.thm
*.bak
*.idx
*.ind
*.ilg
*.log
*.toc
*.aux
auto
*.nav
*.snm
*.vrb
all.tex
*.tmp
*.glo
*.gls
*.deps
*-blx.bib
*.bcf
_region_.tex
.DS_Store
*~
sTeX.ctan.zip
